#
#
#

<STATUSCODE>302</STATUSCODE>
<URL>www.ustl.edu.cn</URL>
<TARGET>http://www.ustl.edu.cn/news/index.html</TARGET>

<STATUSCODE>302</STATUSCODE>
<URL>www.163.com</URL>
<TARGET>http://ir.baidu.com/phoenix.zhtml?c=188488&p=irol-reportsAnnual</TARGET>


<STATUSCODE>302</STATUSCODE>
<URL>www.sina.com.cn</URL>
<TARGET>http://www.2345.com</TARGET>


<STATUSCODE>302</STATUSCODE>
<URL>www.ifeng.com</URL>
<TARGET>http://www.bing.com</TARGET>


###########################################################


#<STATUSCODE>404</STATUSCODE>
#<URL>/doc/b.htm</URL>
#<TARGET>404.html</TARGET>

#<STATUSCODE>404</STATUSCODE>
#<URL>/doc/c.htm</URL>
#<TARGET>404.html</TARGET>
